#b-img{
    background-image: url("https://png.pngtree.com/background/20220714/original/pngtree-big-isolated-motorcycle-vector-colorful-icons-flat-illustrations-of-delivery-by-picture-image_1607593.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}